@{
    ViewData["Title"] = "Macro";
}

@model WebApp.ViewModel.MacroVersionIndexModel

@if (Model == null)
{
    <div>
        <h1>Version Information Not Available</h1>
        <p>No data could be retrieved at this time.</p>
    </div>
}
else
{
    <div>
        <h1>Macro Version Information</h1>
        <p><strong>Major:</strong> @Model.VersionNote.Version.Major</p>
        <p><strong>Minor:</strong> @Model.VersionNote.Version.Minor</p>
        <p><strong>Build:</strong> @Model.VersionNote.Version.Build</p>
        <p>
            <strong>Description:</strong>
            <span style="white-space: pre-line;">@Html.Raw(Model.VersionNote.Description.Replace(Environment.NewLine, "<br>").Trim())</span>
        </p>
    </div>
}

<div>
    <h2>Download</h2>
    <p>You can download the latest version from the link below:</p>
    <a href= @Model.GitHubReleaseUrl
       target="_blank"
       class="download-link">
        @Model.GitHubReleaseUrl
    </a>
</div>